attrs=23.1.0=pypi_0
automat=22.10.0=pypi_0
beautifulsoup4=4.12.2=pypi_0
brotlipy=0.7.0=py310hca72f7f_1002
bzip2=1.0.8=h1de35cc_0
ca-certificates=2023.05.30=hecd8cb5_0
certifi=2023.5.7=py310hecd8cb5_0
cffi=1.15.1=py310h6c40b1e_3
charset-normalizer=3.1.0=pypi_0
constantly=15.1.0=pypi_0
cryptography=39.0.1=py310hf6deb26_0
cssselect=1.2.0=pypi_0
filelock=3.12.1=pypi_0
hyperlink=21.0.0=pypi_0
idna=3.4=py310hecd8cb5_0
incremental=22.10.0=pypi_0
itemadapter=0.8.0=pypi_0
itemloaders=1.1.0=pypi_0
jmespath=1.0.1=pypi_0
libffi=3.4.4=hecd8cb5_0
lxml=4.9.2=pypi_0
ncurses=6.4=hcec6c5f_0
openssl=1.1.1t=hca72f7f_0
packaging=23.1=pypi_0
parsel=1.8.1=pypi_0
pip=23.0.1=py310hecd8cb5_0
protego=0.2.1=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pycparser=2.21=pyhd3eb1b0_0
pydispatcher=2.0.7=pypi_0
pyopenssl=23.0.0=py310hecd8cb5_0
pysocks=1.7.1=py310hecd8cb5_0
python=3.10.11=h218abb5_2
queuelib=1.6.2=pypi_0
readline=8.2=hca72f7f_0
requests=2.31.0=pypi_0
requests-file=1.5.1=pypi_0
scrapeops-scrapy-proxy-sdk=1.0=pypi_0
scrapy=2.9.0=pypi_0
scrapy-rotating-proxies=0.6.2=pypi_0
scrapy-user-agents=0.1.1=pypi_0
service-identity=21.1.0=pypi_0
setuptools=67.8.0=py310hecd8cb5_0
six=1.16.0=pypi_0
soupsieve=2.4.1=pypi_0
sqlite=3.41.2=h6c40b1e_0
tk=8.6.12=h5d9f67b_0
tldextract=3.4.4=pypi_0
twisted=22.10.0=pypi_0
typing=3.7.4.3=pypi_0
typing-extensions=4.6.3=pypi_0
tzdata=2023c=h04d1e81_0
ua-parser=0.16.1=pypi_0
urllib3=2.0.3=pypi_0
user-agents=2.2.0=pypi_0
w3lib=2.1.1=pypi_0
wheel=0.38.4=py310hecd8cb5_0
xz=5.4.2=h6c40b1e_0
zlib=1.2.13=h4dc903c_0
zope-interface=6.0=pypi_0
