{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/chosen.min.css' %}">
    <title>Adrian William - WSR</title>
</head>
<body>
    <h1>Adrian William - Weekly Service Report</h1>
        <div class="seach-form">
            <form action="/home/scrape_listings_req/" method="post">
                {% csrf_token %}
                <select data-placeholder="Begin typing a suburb to search..." multiple class="chosen-select" name="suburbs">
                    <option>ABBOTSFORD-NSW-2046</option>
                    <option>ALEXANDRIA-NSW-2015</option>
                    <option>ANNANDALE-NSW-2038</option>
                    <option>ASHBURY-NSW-2193</option>
                    <option>ASHFIELD-NSW-2131</option>
                    <option>BALMAIN-NSW-2041</option>
                    <option>BALMAIN-EAST-NSW-2041</option>
                    <option>BEACONSFIELD-NSW-2015</option>
                    <option>BELFIELD-NSW-2191</option>
                    <option>BIRCHGROVE-NSW-2041</option>
                    <option>BREAKFAST-POINT-NSW-2137</option>
                    <option>BURWOOD-NSW-2134</option>
                    <option>BURWOOD-HEIGHTS-NSW-2136</option>
                    <option>CABARITA-NSW-2137</option>
                    <option>CAMPERDOWN-NSW-2050</option>
                    <option>CANADA-BAY-NSW-2046</option>
                    <option>CHISWICK-NSW-2046</option>
                    <option>CLEMTON-PARK-NSW-2206</option>
                    <option>CONCORD-NSW-2137</option>
                    <option>CONCORD-WEST-NSW-2138</option>
                    <option>CROYDON-NSW-2132</option>
                    <option>CROYDON-PARK-NSW-2133</option>
                    <option>DRUMMOYNE-NSW-2047</option>
                    <option>DULWICH-HILL-NSW-2203</option>
                    <option>EARLWOOD-NSW-2206</option>
                    <option>ENFIELD-NSW-2136</option>
                    <option>ENFIELD-SOUTH-NSW-2133</option>
                    <option>ENMORE-NSW-2042</option>
                    <option>ERSKINEVILLE-NSW-2043</option>
                    <option>EVELEIGH-NSW-2015</option>
                    <option>FIVE-DOCK-NSW-2046</option>
                    <option>FOREST-LODGE-NSW-2037</option>
                    <option>GLEBE-NSW-2037</option>
                    <option>HABERFIELD-NSW-2045</option>
                    <option>HOMEBUSH-NSW-2140</option>
                    <option>HOMEBUSH-BAY-NSW-2127</option>
                    <option>HOMEBUSH-SOUTH-NSW-2140</option>
                    <option>HOMEBUSH-WEST-NSW-2140</option>
                    <option>HURLSTONE-PARK-NSW-2193</option>
                    <option>LEICHHARDT-NSW-2040</option>
                    <option>LEWISHAM-NSW-2049</option>
                    <option>LIBERTY-GROVE-NSW-2138</option>
                    <option>LILLYFIELD-NSW-2040</option>
                    <option>MARRICKVILLE-NSW-2204</option>
                    <option>MARRICKVILLE-METRO-NSW-2204</option>
                    <option>MARRICKVILLE-SOUTH-NSW-2204</option>
                    <option>MISSENDEN-ROAD-NSW-2050</option>
                    <option>MORTLAK-NSW-2137</option>
                    <option>NEWINGTON-NSW-2127</option>
                    <option>NEWTOWN-NSW-2042</option>
                    <option>NORTH-STRATHFIELD-NSW-2137</option>
                    <option>PETERSHAM-NSW-2049</option>
                    <option>PETERSHAM-NORTH-NSW-2049</option>
                    <option>RHODES-NSW-2138</option>
                    <option>ROD-POINT-NSW-2046</option>
                    <option>ROZELLE-NSW-2039</option>
                    <option>RUSSELL-LEA-NSW-2046</option>
                    <option>ST-PETERS-NSW-2044</option>
                    <option>STANMORE-NSW-2048</option>
                    <option>STRATHFIELD-NSW-2135</option>
                    <option>STRATHFIELD-SOUTH-NSW-2136</option>
                    <option>SUMMER-HILL-NSW-2130</option>
                    <option>SYDENHAM-NSW-2044</option>
                    <option>TEMPE-NSW-2044</option>
                    <option>THE-UNIVERSITY-OF-SYDNEY-NSW-2006</option>
                    <option>ULTIMO-NSW-2007</option>
                    <option>UNDERCLIFFE-NSW-2372</option>
                    <option>WAREEMBA-NSW-2046</option>
                    <option>WENTWORTH-POINT-NSW-2127</option>
                    <option>WESTGATE-NSW-2048</option>
                </select>
                <input type="submit">
            </form>
        </div>

        <a href="/home/scrape_listings_req/" target="_blank">Download PDF Report</a>
        
        <div class="property-results">
            {% if no_properties_found %}
                <p>No properties found matching this criteria.</p>
            {% else %}
                {% if properties %}
                    * = Approximate Price
                    <table>
                        <thead>
                            <tr>
                                <th>Property ID</th>
                                <th>Address</th>
                                <th>Price</th>
                                <th>Date Sold</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for property in properties %}
                                <tr>
                                    <td>{{ property.property_id }}</td>
                                    <td>{{ property.address_line_1 }} {{ property.address_line_2 }} </td>
                                    <td> ${{ property.price_string }}{% if property.approx_price %}*{% endif %}</td>
                                    <td>{{ property.sold_status_date }}</td>
                                    <td><a href="{{ property.property_url }}">{{ property.property_url }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
        <script>
            $(".chosen-select").chosen({
                no_results_text: "No suburb found with name: "
            })
        </script>
</body>
</html>