* {
    background-color: #101820;
    color: aliceblue;
}


h1 {
    /* Just as an example of how css can be added to templates */

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}


.website-header {
    justify-content: center;
}



.error-message {
    margin-top: 50px;
    color: red;
    font-size: 30px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    margin-top: 20px;
}

img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    width: 100px; /* Add this line to set the width */
    height: 100px; /* Add this line to set the height */
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Some padding inside the form */
    border-radius: 10px; /* Rounded corners */
    max-width: 200px; /* Maximum width */
    margin: auto; /* Centering the form */
}


input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px !important; /* Changed from 100px to 80px to make the input fields narrower */
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

