{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'login/main.css' %}">
    <title>Adrian William - WSR</title>
</head>
<body>
    <div class="website-header">
        <img src="{% static 'login/adrian-william-logo.png' %}" alt="logo" class="logo">
        <h1>Adrian William</h1>
        <h2>Weekly Service Report Check</h2>
    </div>

    <form action="/verify_user/" method="POST" class="login">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}  <!-- This will render only the input field -->
        {% endfor %}
        <button type="submit" value="Submit">Login</button>
        
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </form>

</body>
</html>